{
  "presets": [
    [
      "@babel/preset-env",
      {
         "targets": {
          "node": "current",
          "browsers": ["last 2 versions", "> 5% in US"]
        }
      }
    ]
  ],
  "plugins": ["add-module-exports"]
}
