.DS_Store
node_modules
package-lock.json
yarn.lock

config-gcp.json

abstractions/uuid/index.dist.js

classes/dist
classes/abstractions

api-core/src/abstractions
api-bin/src/abstractions
app/src/abstractions

platforms/nds/classes
app/src/classes
api-core/src/classes
api-bin/src/classes

api-core/src/platforms

app/build
app/coverage
