.DS_Store
node_modules
package-lock.json
yarn.lock
npm-debug.log

config-gcp.json

abstractions/uuid/index.dist.js

inter-router/index.dist.js

classes/dist
classes/abstractions

api-core/src/abstractions
api-bin/src/abstractions

platforms/nds/classes
app-oscar/src/src/classes
api-core/src/classes
api-bin/src/classes

api-core/src/platforms

app-oscar/src/build
app-oscar/src/coverage

api-core/files

api-bin/files

app-oscar/src/src/inter-router

site/src/.cache
site/src/public
