.DS_Store
node_modules
package-lock.json
yarn.lock
npm-debug.log

config-gcp.json

abstractions/uuid/index.dist.js

classes/dist
classes/abstractions

api-core/src/abstractions
api-bin/src/abstractions
app/src/abstractions

platforms/nds/classes
app/src/src/classes
api-core/src/classes
api-bin/src/classes

api-core/src/platforms

app/src/build
app/src/coverage

api-core/files

api-bin/files
