* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  line-height: 1;
}

html {
  font-size: 16px;
}

body {
  background-color: #ecf0f1;
}

#root {
  height: 100%;
}

strong {
  font-weight: 800;
}
