@font-face {
  font-family: 'Rubik';
  src: url(./fonts/Rubik.woff2) format('woff2'), url(./fonts/Rubik.woff) format('woff');
  /* src: local('Rubik') */
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  line-height: 1;
}

html {
  font-size: 16px;
}

body {
  background-color: #ecf0f1;
  transition: background-color 0.5s ease-in-out;
}

strong {
  font-weight: 800;
}

#root {
  background: linear-gradient(rgb(172, 172, 172), transparent);
  background-position: 0 calc(3rem + 4px);
  background-size: 100% 4px;
  background-repeat: no-repeat;
}
